cask "font-sauce-code-pro-nerd-font"
cask "alacritty"
brew "readline"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "colordiff"
brew "eslint"
brew "eza"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "gopls"
brew "jq"
brew "krew"
brew "kubectx"
brew "lf"
brew "lua"
brew "lua-language-server"
brew "neovim"
brew "node"
brew "nvm"
brew "ripgrep"
brew "rustup-init"
brew "shellcheck"
brew "step"
brew "tig"
brew "tmux"
brew "tree"
brew "watch"
brew "wget"
brew "yarn"
brew "yq"
brew "zoxide"
brew "zsh"
{{ if .extradeps -}}
brew "direnv"
brew "helm"
brew "helmfile"
brew "just"
brew "postgresql"
brew "pstree"
brew "ruby-build"
brew "rbenv"
brew "sqlite"
brew "uv"
{{ end -}}
