tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/cask-versions"
brew "antibody"
brew "readline"
brew "autojump"
brew "bat"
brew "chezmoi"
brew "colordiff"
brew "eslint"
brew "exa"
brew "fzf"
brew "gh"
brew "git"
brew "go"
brew "gopls"
brew "jq"
brew "kubectx"
brew "lf"
brew "neovim"
brew "node"
brew "nvm"
brew "ripgrep"
brew "shellcheck"
brew "tmux"
brew "tree"
brew "yarn"
brew "zsh"
cask "iterm2-beta"
{{ if .extradeps -}}
brew "direnv"
brew "helm"
brew "helmfile"
brew "just"
brew "node@12", link: false
brew "mysql@5.7"
brew "postgresql"
brew "pstree"
brew "pyenv"
brew "pyenv-virtualenv"
brew "ruby-build"
brew "rbenv"
brew "sqlite"
tap "hashicorp/tap"
tap "operatehappy/virtualbox"
cask "vagrant"
cask "virtualbox"
{{ end -}}
