tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/cask-versions"
brew "antibody"
brew "readline"
brew "autojump"
brew "bat"
brew "chezmoi"
brew "colordiff"
brew "eslint"
brew "exa"
brew "fzf"
brew "gh"
brew "go"
brew "gopls"
brew "jq"
brew "kubectx"
brew "lf"
brew "neovim"
brew "node", link: false
brew "nvm"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "shellcheck"
brew "tmux"
brew "tree"
brew "yarn"
brew "zsh"
cask "iterm2-beta"
{{ if eq .chezmoi.hostname "Joshs-MacBook-Pro" -}}
brew "direnv"
brew "helm"
brew "helmfile"
brew "just"
brew "node@12", link: false
brew "mysql@5.7"
brew "postgresql"
brew "pstree"
brew "pyenv"
brew "python@3.9", link: false
brew "python@3.10", link: false
brew "ruby-build"
brew "rbenv"
brew "sqlite"
tap "hashicorp/tap"
tap "operatehappy/virtualbox"
cask "vagrant"
cask "virtualbox"
{{ end -}}
