{{ $email := promptStringOnce . "email" "email address" "joshfrench@gmail.com" -}}
{{ $extradeps := promptBoolOnce . "extradeps" "install work-related packages" false -}}
[merge]
  command = 'nvim'
  args = ['-d', '{{ .Destination }}', '{{ .Source }}']
[data]
  email = {{ $email | quote }}
  extradeps = {{ $extradeps }}
