{{ $email := promptStringOnce . "email" "email address" "joshfrench@gmail.com" -}}
{{ $extradeps := promptBoolOnce . "extradeps" "install work-related packages" false -}}
mode = "symlink"
[merge]
  command = 'nvim'
  args = ['-d', '{{ `{{ .Destination }}` }}', '{{ `{{ .Source }}` }}']
[data]
  email = {{ $email | quote }}
  extradeps = {{ $extradeps }}
  brew_prefix = {{ if eq .chezmoi.arch "arm64" }}'/opt/homebrew'{{ else }}'/usr/local'{{ end }}
