[submodule ".vim/pack/joshfrench/start/vim-colors-solarized"]
	path = .vim/pack/joshfrench/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/joshfrench/start/ack.vim"]
	path = .vim/pack/joshfrench/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/joshfrench/start/vim-tmux-navigator"]
	path = .vim/pack/joshfrench/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/joshfrench/start/nerdtree"]
	path = .vim/pack/joshfrench/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/joshfrench/start/vim-nerdtree-tabs"]
	path = .vim/pack/joshfrench/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/pack/joshfrench/start/vim-surround"]
	path = .vim/pack/joshfrench/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/joshfrench/start/vim-repeat"]
	path = .vim/pack/joshfrench/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/joshfrench/start/fzf.vim"]
	path = .vim/pack/joshfrench/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/joshfrench/start/tcomment"]
	path = .vim/pack/joshfrench/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/pack/joshfrench/start/vim-fugitive"]
	path = .vim/pack/joshfrench/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/joshfrench/start/vim-gitgutter"]
	path = .vim/pack/joshfrench/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/joshfrench/start/vim-lightline"]
	path = .vim/pack/joshfrench/start/vim-lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/joshfrench/start/supertab"]
	path = .vim/pack/joshfrench/start/supertab
	url = https://github.com/ervandew/supertab.git
