[submodule ".vim/pack/joshfrench/start/vim-colors-solarized"]
	path = .vim/pack/joshfrench/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/joshfrench/start/ack.vim"]
	path = .vim/pack/joshfrench/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/joshfrench/start/vim-tmux-navigator"]
	path = .vim/pack/joshfrench/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/joshfrench/start/nerdtree"]
	path = .vim/pack/joshfrench/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/joshfrench/start/vim-nerdtree-tabs"]
	path = .vim/pack/joshfrench/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
