[user]
	name = Josh French
	email = {{ if eq .chezmoi.hostname "Joshs-MacBook-Pro" }}josh.french@rstudio.com{{ else }}joshfrench@gmail.com{{ end }}
[alias]
  co = checkout
  stat = status
  ci = commit
[apply]
  whitespace = nowarn
[push]
  default = upstream
  autoSetupRemote = true
[hub]
  protocol = https
[core]
	excludesfile = /Users/josh/.gitignore
[rerere]
  enabled = true
[init]
  defaultBranch = main
[credential]
	helper = osxkeychain
[diff]
	colorMoved = blocks
[color "diff"]
	oldMoved = magenta
	newMoved = yellow
