[user]
  name = Josh French
  email = {{ .email }}
  signingkey = {{ include (joinPath .chezmoi.homeDir ".ssh" "id_ed25519.pub") }}
[alias]
  co = checkout
  stat = status
  ci = commit
[apply]
  whitespace = nowarn
[push]
  default = upstream
  autoSetupRemote = true
  followTags = true
[hub]
  protocol = https
[core]
  excludesfile = /Users/josh/.gitignore
[rerere]
  enabled = true
  autoupdate = true
[init]
  defaultBranch = main
[credential]
  helper = osxkeychain
[diff]
  colorMoved = blocks
  algorithm = histogram
  mnemonicPrefix = true
  renames = true
[color "diff"]
  oldMoved = magenta
  newMoved = yellow
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
  verbose = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[help]
  autocorrect = prompt
[rebase]
  autoStash = true
  autoSquash = true
  updateRefs = true
[merge]
  conflictStyle = diff3
[pull]
  rebase = true
