#!/bin/bash

set -x

{{ $brewfile := joinPath .chezmoi.homeDir "dotfiles" "Brewfile" }}
# brewfile hash: {{ include $brewfile | sha256sum }}
brew bundle --file {{ joinPath .chezmoi.homeDir "dotfiles" "Brewfile" }}
