#!/bin/bash
{{ $plugins := joinPath .chezmoi.homeDir "dotfiles" "zsh" "zsh_plugins.txt" -}}
{{ if stat $plugins -}}
# plugins hash: {{ include $plugins | sha256sum }}
{{ end -}}
cd ~/dotfiles/zsh/ && antibody bundle < ./zsh_plugins.txt > ./zsh_plugins.sh
