# regen with antibody bundle < ./zsh_plugins.txt > ./zsh_plugins.sh
mafredri/zsh-async
zsh-users/zsh-completions
zsh-users/zsh-autosuggestions
zsh-users/zsh-syntax-highlighting
zsh-users/zsh-history-substring-search
softmoth/zsh-vim-mode
# spaceship-prompt/spaceship-prompt
romkatv/powerlevel10k
# jeffreytse/zsh-vi-mode

/Users/josh/dotfiles/zsh/modules/autojump
/Users/josh/dotfiles/zsh/modules/aliases
/Users/josh/dotfiles/zsh/modules/direnv
/Users/josh/dotfiles/zsh/modules/fzf
/Users/josh/dotfiles/zsh/modules/history
/Users/josh/dotfiles/zsh/modules/lazyload
/Users/josh/dotfiles/zsh/modules/navigation
/Users/josh/dotfiles/zsh/modules/nvm
/Users/josh/dotfiles/zsh/modules/pyenv
/Users/josh/dotfiles/zsh/modules/vimode
/Users/josh/dotfiles/zsh/modules/zoxide
{{ if .extradeps -}}
/Users/josh/dotfiles/zsh/modules/posit
{{ end -}}
