{{ $input := joinPath .chezmoi.homeDir "dotfiles" "zsh" "zsh_plugins.txt" -}}
{{ if stat $input -}}
# input hash: {{ include $input | sha256sum }}
{{ end -}}
source /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-mafredri-SLASH-zsh-async/async.plugin.zsh
fpath+=( /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-mafredri-SLASH-zsh-async )
source /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-completions/zsh-completions.plugin.zsh
fpath+=( /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-completions )
source /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-autosuggestions/zsh-autosuggestions.plugin.zsh
fpath+=( /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-autosuggestions )
source /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-syntax-highlighting/zsh-syntax-highlighting.plugin.zsh
fpath+=( /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-syntax-highlighting )
source /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-history-substring-search/zsh-history-substring-search.plugin.zsh
fpath+=( /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-zsh-users-SLASH-zsh-history-substring-search )
source /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-jeffreytse-SLASH-zsh-vi-mode/zsh-vi-mode.plugin.zsh
fpath+=( /Users/josh/Library/Caches/antibody/https-COLON--SLASH--SLASH-github.com-SLASH-jeffreytse-SLASH-zsh-vi-mode )
source /Users/josh/dotfiles/zsh/modules/autojump/autojump.plugin.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/autojump )
source /Users/josh/dotfiles/zsh/modules/aliases/aliases.plugin.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/aliases )
source /Users/josh/dotfiles/zsh/modules/direnv/direnv.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/direnv )
source /Users/josh/dotfiles/zsh/modules/fzf/fzf.plugin.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/fzf )
source /Users/josh/dotfiles/zsh/modules/history/history.plugin.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/history )
source /Users/josh/dotfiles/zsh/modules/lazyload/kubectl.zsh
source /Users/josh/dotfiles/zsh/modules/lazyload/nvm.zsh
source /Users/josh/dotfiles/zsh/modules/lazyload/pyenv.zsh
source /Users/josh/dotfiles/zsh/modules/lazyload/rbenv.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/lazyload )
source /Users/josh/dotfiles/zsh/modules/navigation/navigation.plugin.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/navigation )
source /Users/josh/dotfiles/zsh/modules/nvm/nvm.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/nvm )
source /Users/josh/dotfiles/zsh/modules/pure/pure.plugin.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/pure )
source /Users/josh/dotfiles/zsh/modules/pyenv/pyenv.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/pyenv )
source /Users/josh/dotfiles/zsh/modules/posit/posit.zsh
fpath+=( /Users/josh/dotfiles/zsh/modules/posit )
